.mainContainer{
    display: flex;
    flex-direction: column;
}
.postContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: rgb(7, 3, 2);
    display: flex;
}
.secPostContainer{
    width: 100%;
    height: 700px;
    background-color: rgb(243, 243, 245);
}
.imageBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftBox{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @apply ml-4;
}
.rightBox{
    height: 200px;
    @apply flex justify-center items-center;
}
.SpanLeft{
    height: 40px;
}