.image-with-blank {
    transition: transform 0.3s ease; /* 添加动画过渡效果 */
    transform-origin: left center;
    perspective: 800px; /* 添加透视效果，值越小透视感越强 */
  }
  
.image-with-blank:hover {
    transform: skewY(-5deg); /* 鼠标悬浮时绕Y轴向左旋转45度 */
  }
.SecondImageWitBlank{
  color: black;
  border-radius: 10%;
}
.container {
  transform-style: preserve-3d; /* 保留3D效果 */
  transition: transform 0.6s ease; /* 动画过渡效果 */
}
.container.flipping {
  transform: rotateY(-180deg); /* 触发翻书动画 */
}
.container .image-with-blank,
.container .SecondImageWitBlank {
  backface-visibility: hidden; /* 隐藏背面内容 */
}
.text-color{
  color: black;
}